<div>
	<div class="marquee center">
		<h1>Player 1</h1>
		<h2>Score: 5200</h2>
	</div>

	<div class="dice-panel">
		<div class="dice"><span>1 </span></div>
		<div class="dice"><span>2</span></div>
		<div class="dice"><span>3</span></div>
		<div class="dice"><span>4</span></div>
		<div class="dice"><span>5</span></div>
		<div class="dice"><span>6</span></div>
	</div>

	<div>
		<button class="btn-primary" (click)="clickRoll()">Roll</button>
		<button class="btn-primary" (click)="clickEndTurn()">End Turn</button>
	</div>
</div>