<div>
	<div class="marquee center">
		<h1>Player 1</h1>
		<h2>Score: 5200</h2>
	</div>

	<div class="dice-panel" style="border: 1px solid black">
		<p>SET DICE</p>
		<div *ngFor="let die of turn.setDice()" 
			 class="dice">
			 <span>{{die.value}}</span>
			 <span style="font-size"
		</div>
	</div>

	<div class="dice-panel" style="border: 1px solid red">
		<p>SELECTED DICE</p>
		<div *ngFor="let die of turn.selectedDice()" 
			 class="dice">
			 <span>{{die.value}}</span>
			 <span style="font-size"
		</div>
	</div>

	<div class="dice-panel" style="border: 1px solid red">
		<p>SELECTED DICE</p>
		<div *ngFor="let die of turn.openDice()" 
			 class="dice">
			 <span>{{die.value}}</span>
			 <span style="font-size"
		</div>
	</div>

	<div>
		<button class="btn-primary" (click)="clickRoll()">Roll</button>
		<button class="btn-primary" (click)="clickEndTurn()">End Turn</button>
	</div>
</div>