.dice {
	border: 1px solid black;
	display: inline-block;
	height: 62px;
    text-align: center;
    width: 62px;
}

.dice-grid-row{
	display: block;
	height: 20px;
	width: 100%;
}

.dice-grid-row div{
	display: inline-block;
	height: 17px;
	width: 17px;
}

.dice-cell-empty{
	background-color: white;
}
.dice-cell-full div{
	background-color: black;
	border-radius:999px;
}

.dice span{
	font-size: 30px;
	font-weight: bold;
}

.open { 
	border: 1px solid black; 
}

.selected { 
	border: 1px solid black;
 }

.set {
	border: 1px solid black;
}
