<div>
	<div class="marquee center">
		<h1>Player 1</h1>
		<h2>Score: 5200</h2>
	</div>

	<div class="dice-panel" style="border: 1px solid black">
		<p>SET</p>
		<div *ngFor="let die of turn.setDice()" 
			 class="dice">
			 <span>{{die.face}}</span>
		</div>
	</div>

	<div class="dice-panel" style="border: 1px solid red">
		<p>SELECTED</p>
		<div *ngFor="let die of turn.selectedDice()" 
			 class="dice">
			 <span>{{die.face}}</span>
		</div>
	</div>

	<div class="dice-panel" style="border: 1px solid red">
		<p>FRESH</p>
		<div *ngFor="let die of turn.openDice()" 
			 class="dice">
			 <span>{{die.face}}</span>
		</div>
	</div>

	<div style="border: 1px solid green">
		<p>DEBUG -- ALL DICE</p>
		<div *ngFor="let d of turn.dice">
			 <span>Face: {{d.face}} State: {{d.state}}</span>
		</div>
	</div>

	<div>
		<button class="btn-primary" (click)="clickRoll()">Roll</button>
		<button class="btn-primary" (click)="clickEndTurn()">End Turn</button>
	</div>

	<div class="dice">
		<div class="dice-grid-row">
			<div class="dice-cell-empty"><div></div></div>
			<div class="dice-cell-empty"><div></div></div>
			<div class="dice-cell-empty"><div></div></div>
		</div>
		<div class="dice-grid-row">
			<div class="dice-cell-empty"><div></div></div>
			<div class="dice-cell-full"><div></div></div>
			<div class="dice-cell-empty"><div></div></div>
		</div>
		<div class="dice-grid-row">
			<div class="dice-cell-empty"><div></div></div>
			<div class="dice-cell-empty"><div></div></div>
			<div class="dice-cell-empty"><div></div></div>
		</div>
	</div>

	<div class="dice">
		<div class="dice-grid-row">
			<div class="dice-cell-full"><div></div></div>
			<div class="dice-cell-empty"><div></div></div>
			<div class="dice-cell-empty"><div></div></div>
		</div>
		<div class="dice-grid-row">
			<div class="dice-cell-empty"><div></div></div>
			<div class="dice-cell-empty"><div></div></div>
			<div class="dice-cell-empty"><div></div></div>
		</div>
		<div class="dice-grid-row">
			<div class="dice-cell-empty"><div></div></div>
			<div class="dice-cell-empty"><div></div></div>
			<div class="dice-cell-full"><div></div></div>
		</div>
	</div>

	<div class="dice">
		<div class="dice-grid-row">
			<div class="dice-cell-full"><div></div></div>
			<div class="dice-cell-empty"><div></div></div>
			<div class="dice-cell-empty"><div></div></div>
		</div>
		<div class="dice-grid-row">
			<div class="dice-cell-empty"><div></div></div>
			<div class="dice-cell-full"><div></div></div>
			<div class="dice-cell-empty"><div></div></div>
		</div>
		<div class="dice-grid-row">
			<div class="dice-cell-empty"><div></div></div>
			<div class="dice-cell-empty"><div></div></div>
			<div class="dice-cell-full"><div></div></div>
		</div>
	</div>

	<div class="dice">
		<div class="dice-grid-row">
			<div class="dice-cell-full"><div></div></div>
			<div class="dice-cell-empty"><div></div></div>
			<div class="dice-cell-full"><div></div></div>
		</div>
		<div class="dice-grid-row">
			<div class="dice-cell-empty"><div></div></div>
			<div class="dice-cell-empty"><div></div></div>
			<div class="dice-cell-empty"><div></div></div>
		</div>
		<div class="dice-grid-row">
			<div class="dice-cell-full"><div></div></div>
			<div class="dice-cell-empty"><div></div></div>
			<div class="dice-cell-full"><div></div></div>
		</div>
	</div>

	<div class="dice">
		<div class="dice-grid-row">
			<div class="dice-cell-full"><div></div></div>
			<div class="dice-cell-empty"><div></div></div>
			<div class="dice-cell-full"><div></div></div>
		</div>
		<div class="dice-grid-row">
			<div class="dice-cell-empty"><div></div></div>
			<div class="dice-cell-full"><div></div></div>
			<div class="dice-cell-empty"><div></div></div>
		</div>
		<div class="dice-grid-row">
			<div class="dice-cell-full"><div></div></div>
			<div class="dice-cell-empty"><div></div></div>
			<div class="dice-cell-full"><div></div></div>
		</div>
	</div>

	<div class="dice">
		<div class="dice-grid-row">
			<div class="dice-cell-full"><div></div></div>
			<div class="dice-cell-empty"><div></div></div>
			<div class="dice-cell-full"><div></div></div>
		</div>
		<div class="dice-grid-row">
			<div class="dice-cell-full"><div></div></div>
			<div class="dice-cell-empty"><div></div></div>
			<div class="dice-cell-full"><div></div></div>
		</div>
		<div class="dice-grid-row">
			<div class="dice-cell-full"><div></div></div>
			<div class="dice-cell-empty"><div></div></div>
			<div class="dice-cell-full"><div></div></div>
		</div>
	</div>
</div>