<div class="dice-grid-row">
    <div class="dice-cell-full"><div></div></div>
    <div class="dice-cell-empty"><div></div></div>
    <div class="dice-cell-empty"><div></div></div>
</div>
<div class="dice-grid-row">
    <div class="dice-cell-empty"><div></div></div>
    <div class="dice-cell-empty"><div></div></div>
    <div class="dice-cell-empty"><div></div></div>
</div>
<div class="dice-grid-row">
    <div class="dice-cell-empty"><div></div></div>
    <div class="dice-cell-empty"><div></div></div>
    <div class="dice-cell-full"><div></div></div>
</div>