<div>
	<div class="marquee center">
		<h1>Player 1</h1>
		<h2>Score: 5200</h2>
		<h3>TURN SCORE: {{turn.score}}</h3>
	</div>

	<div class="dice-panel" style="border: 1px solid black">
		<p>SET</p>
		<div *ngFor="let die of turn.setDice()" 
			 class="dice">
			 <span>{{die.face}}</span>
		</div>
	</div>

	<div class="dice-panel" style="border: 1px solid red">
		<p>SELECTED</p>
		<div *ngFor="let die of turn.selectedDice()" 
			 class="dice"
			 (click)="clickDice(die)">
			 <span>{{die.face}}</span>
		</div>
	</div>

	<div class="dice-panel" style="border: 1px solid red">
		<p>FRESH</p>
		<game-dice-face *ngFor="let die of turn.openDice()"
			[face]="die.face"
			(click)="clickDice(die)">
		</game-dice-face>
	</div>

	<div>
		<button class="btn-primary" (click)="clickRoll()">Roll</button>
		<button class="btn-primary" (click)="clickEndTurn()">End Turn</button>
	</div>
</div>