<div class="center"
	 *ngIf="showRootMenu">

  <p>Dice is a turn-based dice game to 10000.</p>

  <button (click)="clickAdmin()">Admin</button>
  <button (click)="clickNewGame()">New Game</button>
  <button (click)="clickMultiplayer()">Multiplayer</button>
  <button (click)="clickUserMenu()">User Menu</button>
  <button (click)="clickLogin()">Login</button>
  <button (click)="clickSignup()">Signup</button>
</div>

<!-- user game menu -->
<app-menu-admin *ngIf="showAdminMenu"></app-menu-admin>
<app-menu-game [game]="game" *ngIf="showGameMenu"></app-menu-game>
<app-game-table [game]="game" [user]="user" *ngIf="game.isReady"></app-game-table>

<app-multiplayer *ngIf="showMultiplayer"></app-multiplayer>

<app-menu-user [user]="user" *ngIf="showUserMenu"></app-menu-user>

<app-menu-login *ngIf="showLogin"></app-menu-login>
<app-menu-signup *ngIf="showSignup"></app-menu-signup>