<div *ngIf="showRootMenu">

  <a href="/newgame">
    <button>New Game</button>
  </a>
  <a href="/games">
    <button>Games</button>
  </a>
  <a href="/profile">
    <button>Profile</button>
  </a>
  <a href="/rules">
    <button>Rules</button>
  </a>
  <a href="/settings">
    <button>Settings</button>
  </a>
</div>

<div *ngIf="showNewGameMenu">
  <app-menu-new-game *ngIf="showNewGameMenu"></app-menu-new-game>
</div>

<div *ngIf="showGames">
  <app-user-games></app-user-games>
</div>

<div *ngIf="showProfile">
  <app-user-profile [user]="user"></app-user-profile>
</div>

<div *ngIf="showRules">
  <div ngInclude="./rules.html"></div>
</div>

<button *ngIf="!showRootMenu" (click)="clickBack()">Back</button>